@font-face { 
    font-family: 'Krasnodar';
    src: url('fonts/Krasnodar.otf') format('otf');
    }

@font-face { 
    font-family: 'Mantranaga 36Daysoftype 2023';
    src: url('fonts/Mantranaga.otf') format('otf');
    }

html {
    cursor: url('./images/cursor.ico'), default;
}

body {
    background-color: #f5f5f5;
    margin: 0;
}

img {
    margin: 0;
}

a {
    text-decoration: none;
}

/* -------------------------------------------- LANDING SCREEN ---------------------------------------------------- */

#herologo {
    position: relative;
    display: block;
    max-width: 99.4vw;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: 1.7%;
    z-index: 1;
    background-color: #f5f5f5;
}

#herotext {
    position: relative;
    font-family: Inter Tight;
    color: red;
    font-size: 7vw;
    font-weight: 450;
    font-kerning: auto;
    margin: 0;
    padding-left: 17%;
    padding-top: 2.7%;
    z-index: 2;
}

.top-nav {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 0.3vw;
}

.top-nav-1 {
    font-family: "Inter";
    text-decoration: none;
    color: black;
    margin-right: 68.3%;
    padding-left: 1%;
    pointer-events: none;
    cursor: default;
}

.top-nav-2 {
    font-family: "Inter";
    text-decoration: none;
    color: black;
    margin-right: 7%;
}

.top-nav-3 {
    font-family: "Inter";
    text-decoration: none;
    color: black;
    margin-right: 7%;
}

.top-nav-4 {
    font-family: "Inter";
    text-decoration: none;
    color: black;
}

#yellow {
    /* make hero img bg yellow

        background-color: #ffdd00;
    
    */
    padding-top: 1%;
}

/* -------------------------------------------- WORK ---------------------------------------------------- */

.work {
    font-family: Inter;
    width: 100%;
    align-content: center;
}

.wrktile {
    width: 33%;
}

/* ------------------------------------------ ABOUT ---------------------------------------------- */

.about {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  text-align: justify;
  font-weight: 300;
}

#mugshot {
  max-width: 25%;
  margin-left: 1.5vw;
}

#blabber {
    width: 80%;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 8vw;
    font-size: 30px;
    line-height: 50px;
}

.contact {
    width:100%;
    height: 5vw;
    background-color: #0424d9;
    padding-top: 5vw;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 5.5vw;
    margin-top: 3vw;
}

/* ------------------------------------------ CONTACT ---------------------------------------------- */

#action {
    width: 98%;
    margin-left: 13.5%;
    margin-bottom: 10%;
    height: 20vw;
    border-radius: 0;
    border-width: 0;
    font-family:"Inter";
    font-weight: 500;
    background-color: #0424d9;
    color: #f5f5f5;
    font-size: 5vw;
}

/* ------------------------------------- on hover ------------------------------------------ */

    .top-nav-1:hover {
        text-decoration: none;
    }
    .top-nav-2:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.5vw;
        color: black;
        text-decoration-color: black;
    }
    .top-nav-3:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.5vw;
        color: black;
        text-decoration-color: black;
    }
    .top-nav-4:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.5vw;
        color: black;
        text-decoration-color: black;
    }

    /* horizontal scroll thingo

        .h-scroll {
        width: 100px;
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        transform-origin: right top;
        transform: rotate(-90deg) translateY(-100px);
        }

        .h-scroll > div {
        width: 100px;
        height: 100px;
        transform: rotate(90deg);
        transform-origin: right top;
        }
    */

/* --------------------------------- footer styling ----------------------------------------- */

#cool-footer {
    background-color: #ffdd00;
    margin: 0;
    max-height: 40vw;
}

#footerlogo {
    background-color: #ffdd00;
    max-width: 99.4vw;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: 1.7%;
}

/* -------------------------------- ALL HAIL NAV -------------------------------------------- */
.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #ffdd00;
}

.contain {
  display: flex;
  flex-direction: row;
  padding-top: 1.5vw;
}

.footer .col {
    width: 20vw;
    height: auto;
    padding: 0px 0px 20px 20px;
    text-decoration:none;
}

.footer .col p {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-weight: 300;
    padding-bottom: 12%;
    text-align: justify;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    font-family: Inter;
    font-weight: 300;
    padding-bottom: 9%;
}

.clearfix {
    clear: both;
}

#first-column {
    margin-left: 30%;
}

#aoc {
    margin-left: 0.6%;
    padding-right: 10%;
    width: 50vw;
}

#last-column {
    max-width: 7vw;
}

#foothead {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: Inter;
    padding-bottom: 1.5vw;
    text-align: justify;
    color: #0424d9;
}

a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}


a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 0.5vw;
  text-decoration-color: black;
}

a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
